[package]
name = "simcore"
version = "0.1.0"
edition = "2024"

[dependencies]
log = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
nalgebra = { workspace = true }
